<!-- <% if(typeof errorMessages != 'undefined'){ %>
  <% errorMessages.forEach(function(error) { %>
    <div class="alert" role="alert">
      <%= error.msg %>
    </div>
 <% }) %>
<% } %> -->
<!-- <div class="card" role="alert">
  <% errorMessages.forEach(error => { %>
    <%= error %>
  <% }) %>
</div> -->